@font-face {
  font-family: "AirbnbCereal";
  src: local("AirbnbCereal"),
    url("./fonts/AirbnbCerealLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "AirbnbCereal";
  src: local("AirbnbCereal"),
    url("./fonts/AirbnbCerealBook.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "AirbnbCereal";
  src: local("AirbnbCereal"),
    url("./fonts/AirbnbCerealMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "AirbnbCereal";
  src: local("AirbnbCereal"),
    url("./fonts/AirbnbCerealBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* ------------- */

body {
    font-family: 'AirbnbCereal', "Roboto","Helvetica Neue",sans-serif;
    color: rgb(34, 34, 34);
}