

.container-fluid .container {
	border: 1px solid #B6BCD5;
	border-radius: 25px;
	width: 50%;
	margin-bottom: 70px;
	padding: 50px;
    margin-top: 30px;
}

#mySelect {
	height: 70px;
	margin-top: 30px;

}

.form1 {
    height: 60px;
}

.form1:focus::-webkit-input-placeholder {
    font-size: .75em;
    position: relative;
    top: -15px; 
    transition: 0.2s ease-out;
}


#continue{
	height: 50px;
	border-radius:10px;
	background-color:#c91a43 ;
    
}
#continue:hover{
	background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% )
}

.container h3{
 margin-bottom: 30px;
}

.container h6{
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	font-size: 12px;
    line-height: 1.43;
    color: #707070;
	letter-spacing: 0.5px;
	padding-left: 5px;
	
}


#or{
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	  font-size: small;
	  margin-top: 20px;
	  margin-bottom: 20px;
      
}

.social{
    width: 100%;
    border-radius: 10px;
    padding: 12px ;
    border: 2px solid rgb(184, 184, 184);
    box-shadow: none;
    margin-bottom: 20px;
}

.social:hover {
  background-color: #ffffff;
  border: 2px solid black;
  color: black;
  box-shadow: none;

}





